/*=======================================================================================================================================*/
/*GOOGLE FONTS*/
/*=======================================================================================================================================*/
.sans-narrow {
  font-family: 'PT Sans Narrow', sans-serif;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
}

.negrita {
  font-weight: bold;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.centrado {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centrado-right {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  height: 50px;
  width: 50px;
}

.centrado-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centrado-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*=======================================================================================================================================*/
/*HEADER*/
/*=======================================================================================================================================*/
/* COLUMMNA 1 */
.header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  min-height: 252px !important;
  background-color: #121618;
}

.entrecortado::after {
  background-image: linear-gradient(rgba(18, 22, 24, 1), rgba(18, 22, 24, 1)), linear-gradient(-45deg, transparent 75%, rgba(18, 22, 24, 1) 75%), linear-gradient(45deg, transparent 75%, rgba(18, 22, 24, 1) 75%);
  width: 100%;
  height: 0px;
  position: relative;
  display: block;
  content: "";
  left: 0;
  bottom: 0;
  border: solid transparent;
  border-width: 10px 0;
  background-color: #121618;
  background-color: hsla(0, 0%, 0%, 0);
  background-repeat: repeat, repeat-x, repeat-x, repeat-x, repeat-x;
  background-position: 0 0, 0 0, 0 0, 0 100%, 0 100%;
  background-size: auto auto, 15px 15px, 15px 15px, 15px 15px, 15px 15px;
  background-clip: padding-box, border-box, border-box, border-box, border-box;
  background-origin: padding-box, border-box, border-box, border-box, border-box;
  z-index: 1;
}

.columna1,
.columna2,
.columna3 {
  padding: 20px;
}

.columna1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.columna1 .contenido {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.columna1-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.columna1-1 i {
  font-size: 45px;
  color: white;
}

.columna1-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.columna1-2 .fila1 {
  font-size: 15px;
  letter-spacing: 4px;
}

.columna1-2 .fila2 {
  font-size: 13px;
}

/* COLUMNA 2 */
.columna2 {
  display: grid;
  grid-template-rows: 1fr .5fr;
}

.columna2 .fila1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.columna2 .fila2 {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

/* Estilos opcionales para las columnas */
.columna2 .fila2 .item-menu {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 15px;
  letter-spacing: 3px;
}

.columna2 .fila2 .item-menu:hover {
  cursor: pointer;
  color: #edbb3a;
}

/* COLUMNA 3 */
.columna3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.columna3 .contenido {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
}

.columna3-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.columna3 .fila1,
.columna3 .fila2 {
  display: flex;
  justify-content: end;
  align-items: center;
}

.columna3 .fila1 {
  font-size: 15px;
}

.columna3 .fila2 {
  font-size: 13px;
}

.columna3-1 {
  grid-row: 1 / span 2;
}

.columna3-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.columna3-2 i {
  font-size: 45px;
  color: white;
}

.columna3-2 .contador {
  width: 15px;
  height: 20px;
  background-color: #edbb3a;
  border-radius: 5px;
  position: absolute;
  right: 1px;
}

/* Barra de menu */

.close-menu {
  display: none;
  /* transition: all 1s; */
}

.rotacion {
  animation-name: rotacion;
  animation-duration: .5s;
}

@keyframes rotacion {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

/* menu para celulares */
#menu-celular {
  display: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  /* display: flex; */
  align-items: center;
}

.titulo {
  font-size: 15px;
  text-transform: uppercase;
  margin-right: 10px;
}

.submenu {
  display: none;
  margin-left: 20px;
  margin-bottom: 20px;
}

ul.submenu li {
  margin-bottom: 5px;
  text-decoration: none;
}

ul.submenu li a {
  text-decoration: none;
  color: white;
}

ul.submenu li a:hover {
  text-decoration: none;
  color: #edbb3a;
}

ul div {
  color: white;
  margin-bottom: 10px;
}

ul div:hover {
  color: #edbb3a;
}

.ri-arrow-right-s-line {
  transition: transform 0.3s ease-in-out;
}

.ri-arrow-right-s-line.rotated {
  transform: rotate(90deg);
}

/*=================================================*/
/*CARRUSEL*/
/*=================================================*/

.owl-carousel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.owl-carousel .item {
  height: 100%;
  color: #fff;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: #fff;
  z-index: 1;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.owl-prev {
  left: 5%;
}

.owl-next {
  right: 5%;
}

/*=================================================*/
/*ITEMS DEL CARRUSEL*/
/*=================================================*/
.carrusel .item1 {
  margin-top: 4%;
}

.carrusel .item2 {
  margin-top: 9%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 150px;
  padding-right: 100px;
}

.carrusel .item2 .item2-img {
  width: 500px;
  image-rendering: crisp-edges;
}

.carrusel .item2 h1 {
  font-size: 60px;
  letter-spacing: 16px;
}

.carrusel .item2 h2 {
  font-size: 30px;
  letter-spacing: 8px;
}

.carrusel .item2 .contenedor-parrafo {
  width: 550px;
}

.carrusel .item2 .contenedor-parrafo p {
  font-size: 17px;
  letter-spacing: 2px;
}

.carrusel .item2 .contenedor-parrafo .btn-book-now {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #DCE4E8;
  border: 2px solid #DCE4E8;
  font-size: 15px;
  letter-spacing: 1px;
  padding: 8px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 15px;
}

.carrusel .item2 .contenedor-parrafo .btn-book-now:hover {
  color: #FFC851;
  border: 2px solid #FFC851;
  transition: all .5s;
}

.carrusel .item2 .contenedor-parrafo .btn-view-menu {
  display: flex;
  align-items: center;
  background-color: #FFC851;
  border: none;
  font-size: 15px;
  letter-spacing: 1px;
  padding: 8px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 15px;
}

.carrusel .item2 .contenedor-parrafo .btn-view-menu:hover {
  background-color: transparent;
  color: #FFC851;
  border: 1px solid #FFC851;
  transition: all .2s;
}

/* ITEM 4 */
.carrusel .item4 {
  height: 800px;
  background-image: url(../img/slide_2.jpg);
  background-size: cover;
}

/*===========================================*/
/*ICONOS YELLOW*/
/*===========================================*/
.iconos-yellow {
  height: 450px;
  background-image: url(../img/back_2.png);
  background-repeat: no-repeat;
}

.iconos-yellow-grid {
  width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
}

.iconos-yellow-grid-item h1 {
  font-size: 25px;
  letter-spacing: 4px;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.iconos-yellow-grid-item p {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 28px;
}

/*===========================================*/
/*HOT SALES*/
/*===========================================*/
.hot-sales {
  height: 650px;
  color: #DCE4E8;
  background-color: #121618;
}

.hot-sales h3 {
  font-size: 30px;
  letter-spacing: 7px;
  margin-bottom: 50px;
}

.hot-sales-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 0px;
}

.hot-sales-grid-item img {
  width: 200px;
}

.hot-sales-grid-item h5 {
  font-size: 18px;
  letter-spacing: 3px;
  margin-top: 25px;
}

.hot-sales-grid-item p {
  font-size: 15px;
  margin-top: 20px;
}

.hot-sales-grid-item .precio {
  font-size: 25px;
}

/*===========================================*/
/*WE ARE VINCENT*/
/*===========================================*/
.we-are-vincent {
  height: 700px;
  background-image: url(../img/back_1.jpg);
  background-size: cover;
  background-position: center center;
}

.we-are-vincent-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 70px;
}

.we-are-vincent-grid-item-about h1 {
  margin-bottom: 35px;
  font-size: 40px;
  letter-spacing: 8px;
}

.we-are-vincent-grid-item-about h6 {
  word-wrap: break-word;
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 30px;
}

.we-are-vincent-grid-item-about p:nth-child(4) {
  word-wrap: break-word;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 25px;
}

.we-are-vincent-grid-item-testimonials .testimonio img {
  width: 50px;
  border-radius: 50%;
}

.we-are-vincent-grid-item-testimonials .testimonio p:nth-child(1) {
  font-size: 15px;
  line-height: 28px;
  text-align: justify;
  text-justify: inter-word;
}

.we-are-vincent-grid-item-testimonials .testimonio h5 {
  font-size: 15px;
  letter-spacing: 3px;
}

.we-are-vincent-grid-item-testimonials .testimonio p:nth-child(2) {
  font-size: 15px;
  color: rgb(18, 22, 24);
  letter-spacing: 0px;
}


/*=======================================================================================================================================*/
/*TABLET HORIZONTAL LG 1024px*/
/*=======================================================================================================================================*/
@media (max-width: 1199px) and (min-width: 992px) {

  /*=================================================*/
  /*HEADER*/
  /*=================================================*/
  .columna1 .contenido,
  .columna3 .contenido {
    display: none !important;
  }

  /*=================================================*/
  /*CARRUSEL ITEMS*/
  /*=================================================*/

  /* ITEM1 */
  .carrusel .item1 {
    margin-top: 80px;
  }

  /* ITEM2 */
  .carrusel .item2 {
    margin-top: 220px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .carrusel .item2 .item2-img {
    width: 400px;
  }

  .carrusel .item2 h1 {
    font-size: 50px;
    letter-spacing: 10px;
  }

  .carrusel .item2 h2 {
    font-size: 25px;
    letter-spacing: 8px;
  }

  .carrusel .item2 .contenedor-parrafo {
    width: 400px;
  }

  .carrusel .item2 .contenedor-parrafo p {
    font-size: 20px;
    letter-spacing: 2px;
  }

  /* ITEM 4 */
  .carrusel .item4 {
    /* object-fit: cover !important; */
    height: 800px;
  }

  /*===========================================*/
  /*ICONOS YELLOW*/
  /*===========================================*/
  .iconos-yellow {
    height: 350px;
  }

  .iconos-yellow-grid {
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
  }

  .iconos-yellow-grid-item h1 {
    font-size: 25px;
    letter-spacing: 4px;
  }

  .iconos-yellow-grid-item p {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 28px;
  }

  /*===========================================*/
  /*HOT SALES*/
  /*===========================================*/
  .hot-sales {
    height: 500px;
  }

  .hot-sales h3 {
    font-size: 30px;
    letter-spacing: 7px;
    margin-bottom: 50px;
  }

  .hot-sales-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
  }

  .hot-sales-grid-item img {
    width: 150px;
  }

  .hot-sales-grid-item h5 {
    font-size: 18px;
    letter-spacing: 3px;
    margin-top: 25px;
  }

  .hot-sales-grid-item p {
    font-size: 14px;
    margin-top: 20px;
  }

  .hot-sales-grid-item .precio {
    font-size: 25px;
  }

  /*===========================================*/
  /*WE ARE VINCENT*/
  /*===========================================*/
  .we-are-vincent {
    height: 650px;
  }

  .we-are-vincent-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }

  .we-are-vincent-grid-item-about h1 {
    margin-bottom: 35px;
    font-size: 40px;
    letter-spacing: 8px;
  }

  .we-are-vincent-grid-item-about h6 {
    word-wrap: break-word;
    font-size: 16px;
    letter-spacing: 3px;
    line-height: 30px;
  }

  .we-are-vincent-grid-item-about p:nth-child(4) {
    word-wrap: break-word;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 27px;
  }

  .we-are-vincent-grid-item-about p:nth-child(5) {
    word-wrap: break-word;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 27px;
  }

  .we-are-vincent-grid-item-testimonials .testimonio img {
    width: 45px;
    border-radius: 50%;
  }

  .we-are-vincent-grid-item-testimonials .testimonio p:nth-child(1) {
    font-size: 14px;
    line-height: 28px;
    text-align: justify;
    text-justify: inter-word;
  }

  .we-are-vincent-grid-item-testimonials .testimonio h5 {
    font-size: 15px;
    letter-spacing: 3px;
  }

  .we-are-vincent-grid-item-testimonials .testimonio p:nth-child(2) {
    font-size: 15px;
    color: rgb(18, 22, 24);
    letter-spacing: 0px;
  }

}

/*=======================================================================================================================================*/
/*TABLET VERTICAL MD 768px*/
/*=======================================================================================================================================*/
@media (max-width: 991px) and (min-width: 768px) {

  /*=================================================*/
  /*HEADER*/
  /*=================================================*/
  .columna2 {
    display: grid;
    grid-template-rows: 1fr;
  }

  .columna2 .fila2 {
    display: none;
  }

  .columna1 .contenido,
  .columna3 .contenido {
    display: none !important;
  }

  /*=================================================*/
  /*CARRUSEL*/
  /*=================================================*/
  .carrusel {
    height: 650px !important;
    background-position: center !important;
    background-size: cover !important;
  }

  .carrusel .item1 {
    margin-top: 65px;
  }

  .carrusel .item1-img {
    width: 380px !important;
  }

  .carrusel .item1 h1 {
    font-size: 30px !important;
  }

  .carrusel .item1 .parrafo {
    font-size: 15px !important;
  }

  /* ITEM2 */
  .carrusel .item2 {
    margin-top: 180px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .carrusel .item2 .item2-img {
    width: 300px;
  }

  .carrusel .item2 h1 {
    font-size: 30px;
    letter-spacing: 8px;
  }

  .carrusel .item2 h2 {
    font-size: 18px;
    letter-spacing: 5px;
  }

  .carrusel .item2 .contenedor-parrafo {
    width: 300px;
  }

  .carrusel .item2 .contenedor-parrafo p {
    font-size: 14px;
    letter-spacing: 2px;
  }

  /* ITEM 4 */
  .carrusel .item4 {
    object-fit: cover !important;
    background-position: center center;
    height: 650px;
  }

  /*===========================================*/
  /*ICONOS YELLOW*/
  /*===========================================*/
  .iconos-yellow {
    height: 800px;
    background-image: url(../img/back_2.png);
    background-repeat: repeat;
  }

  .iconos-yellow-grid {
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0px;
  }

  .iconos-yellow-grid-item h1 {
    font-size: 25px;
    letter-spacing: 4px;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }

  .iconos-yellow-grid-item p {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 28px;
  }

  /*===========================================*/
  /*HOT SALES*/
  /*===========================================*/
  .hot-sales {
    height: 1100px;
  }

  .hot-sales h3 {
    font-size: 30px;
    letter-spacing: 7px;
    margin-bottom: 50px;
  }

  .hot-sales-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
  }

  .hot-sales-grid-item img {
    width: 300px;
  }

  .hot-sales-grid-item h5 {
    font-size: 18px;
    letter-spacing: 3px;
    margin-top: 25px;
  }

  .hot-sales-grid-item p {
    font-size: 14px;
    margin-top: 20px;
  }

  .hot-sales-grid-item .precio {
    font-size: 25px;
  }

  /*===========================================*/
  /*WE ARE VINCENT*/
  /*===========================================*/
  .we-are-vincent {
    height: 1000px;
  }

  .we-are-vincent-grid {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
  }

  .we-are-vincent-grid-item-about h1 {
    margin-bottom: 35px;
    font-size: 40px;
    letter-spacing: 8px;
  }

  .we-are-vincent-grid-item-about h6 {
    word-wrap: break-word;
    font-size: 16px;
    letter-spacing: 3px;
    line-height: 30px;
  }

  .we-are-vincent-grid-item-about p:nth-child(4) {
    word-wrap: break-word;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 27px;
  }

  .we-are-vincent-grid-item-about p:nth-child(5) {
    word-wrap: break-word;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 27px;
  }

  .we-are-vincent-grid-item-testimonials .testimonio img {
    width: 45px;
    border-radius: 50%;
  }

  .we-are-vincent-grid-item-testimonials .testimonio p:nth-child(1) {
    font-size: 14px;
    line-height: 28px;
    text-align: justify;
    text-justify: inter-word;
  }

  .we-are-vincent-grid-item-testimonials .testimonio h5 {
    font-size: 15px;
    letter-spacing: 3px;
  }

  .we-are-vincent-grid-item-testimonials .testimonio p:nth-child(2) {
    font-size: 15px;
    color: rgb(18, 22, 24);
    letter-spacing: 0px;
  }
}

/*=======================================================================================================================================*/
/*MOVIL HORIZONTAL SM 576px*/
/*=======================================================================================================================================*/
@media (max-width: 767px) and (min-width: 576px) {

  /*=================================================*/
  /*HEADER*/
  /*=================================================*/
  .columna2 {
    display: grid;
    grid-template-rows: 1fr;
  }

  .columna2 .fila2 {
    display: none;
  }

  .columna1 .contenido,
  .columna3 .contenido {
    display: none !important;
  }

  /*=================================================*/
  /*CARRUSEL*/
  /*=================================================*/
  .carrusel {
    height: 550px !important;
    background-position: center !important;
    background-size: cover !important;
  }

  .carrusel .item1 {
    margin-top: 70px;
  }

  .carrusel .item1-img {
    width: 280px !important;
  }

  .carrusel .item1 h1 {
    font-size: 30px !important;
  }

  .carrusel .item1 .parrafo {
    font-size: 15px !important;
  }

  /* ITEM2 */
  .carrusel .item2 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 35px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .item2-fila-b {
    grid-row: 1;
  }

  .carrusel .item2 .item2-img {
    width: 250px;
  }

  .carrusel .item2 h1 {
    text-align: center;
    font-size: 28px;
    letter-spacing: 8px;
  }

  .carrusel .item2 h2 {
    text-align: center;
    font-size: 18px;
    letter-spacing: 5px;
  }

  .carrusel .item2 .contenedor-parrafo {
    width: 400px;
  }

  .carrusel .item2 .contenedor-parrafo p {
    text-align: center;
    font-size: 13px;
    letter-spacing: 2px;
  }

  .carrusel .item2 .contenedor-parrafo .botones {
    justify-content: center;
  }

  /* ITEM 4 */
  .carrusel .item4 {
    object-fit: cover !important;
    background-position: center center;
    height: 550px;
  }

  /*===========================================*/
  /*ICONOS YELLOW*/
  /*===========================================*/
  .iconos-yellow {
    height: 850px;
    background-repeat: repeat;
  }

  .iconos-yellow-grid {
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0px;
  }

  .iconos-yellow-grid-item h1 {
    font-size: 25px;
    letter-spacing: 4px;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }

  .iconos-yellow-grid-item p {
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 25px;
  }

  /*===========================================*/
  /*HOT SALES*/
  /*===========================================*/
  .hot-sales {
    height: 2650px;
  }

  .hot-sales h3 {
    font-size: 30px;
    letter-spacing: 7px;
    margin-bottom: 50px;
  }

  .hot-sales-grid {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    row-gap: 40px;
  }

  .hot-sales-grid-item img {
    width: 450px;
  }

  .hot-sales-grid-item h5 {
    font-size: 18px;
    letter-spacing: 3px;
    margin-top: 25px;
  }

  .hot-sales-grid-item p {
    font-size: 14px;
    margin-top: 20px;
  }

  .hot-sales-grid-item .precio {
    font-size: 25px;
  }

  /*===========================================*/
  /*WE ARE VINCENT*/
  /*===========================================*/
  .we-are-vincent {
    height: 1100px;
  }

  .we-are-vincent-grid {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
  }

  .we-are-vincent-grid-item-about h1 {
    margin-bottom: 35px;
    font-size: 40px;
    letter-spacing: 8px;
  }

  .we-are-vincent-grid-item-about h6 {
    word-wrap: break-word;
    font-size: 16px;
    letter-spacing: 3px;
    line-height: 30px;
  }

  .we-are-vincent-grid-item-about p:nth-child(4) {
    word-wrap: break-word;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 27px;
  }

  .we-are-vincent-grid-item-about p:nth-child(5) {
    word-wrap: break-word;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 27px;
  }

  .we-are-vincent-grid-item-testimonials .testimonio img {
    width: 45px;
    border-radius: 50%;
  }

  .we-are-vincent-grid-item-testimonials .testimonio p:nth-child(1) {
    font-size: 14px;
    line-height: 28px;
    text-align: justify;
    text-justify: inter-word;
  }

  .we-are-vincent-grid-item-testimonials .testimonio h5 {
    font-size: 15px;
    letter-spacing: 3px;
  }

  .we-are-vincent-grid-item-testimonials .testimonio p:nth-child(2) {
    font-size: 15px;
    color: rgb(18, 22, 24);
    letter-spacing: 0px;
  }
}

/*=======================================================================================================================================*/
/*MOVIL VERTICAL 320px*/
/*=======================================================================================================================================*/
@media (max-width: 575px) {

  /*=================================================*/
  /*HEADER*/
  /*=================================================*/
  .columna2 {
    display: grid;
    grid-template-rows: 1fr;
  }

  .columna2 .fila2 {
    display: none;
  }

  .columna1 .contenido,
  .columna3 .contenido {
    display: none !important;
  }

  /*=================================================*/
  /*CARRUSEL*/
  /*=================================================*/
  .carrusel {
    height: 550px !important;
    background-position: center !important;
    background-size: cover !important;
  }

  .carrusel .item1 {
    margin-top: 80px;
  }

  .carrusel .item1-img {
    width: 250px !important;
  }

  .carrusel .item1 h1 {
    font-size: 30px !important;
  }

  .carrusel .item1 .parrafo {
    font-size: 15px !important;
  }

  /* ITEM2 */
  .carrusel .item2 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .item2-fila-b {
    grid-row: 1;
  }

  .carrusel .item2 .item2-img {
    width: 250px;
  }

  .carrusel .item2 h1 {
    text-align: center;
    font-size: 28px;
    letter-spacing: 8px;
  }

  .carrusel .item2 h2 {
    text-align: center;
    font-size: 20px;
    letter-spacing: 5px;
  }

  .carrusel .item2 .contenedor-parrafo {
    width: 300px;
  }

  .carrusel .item2 .contenedor-parrafo p {
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
  }

  .carrusel .item2 .contenedor-parrafo .botones {
    justify-content: center;
  }

  /* ITEM 4 */
  .carrusel .item4 {
    object-fit: cover !important;
    background-position: center center;
    height: 550px;
  }

  /*===========================================*/
  /*ICONOS YELLOW*/
  /*===========================================*/
  .iconos-yellow {
    height: 950px;
    background-repeat: repeat;
  }

  .iconos-yellow-grid {
    width: 300px;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0px;
  }

  .iconos-yellow-grid-item h1 {
    font-size: 25px;
    letter-spacing: 4px;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }

  .iconos-yellow-grid-item p {
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 30px;
  }

  /*===========================================*/
  /*HOT SALES*/
  /*===========================================*/
  .hot-sales {
    height: 1950px;
  }

  .hot-sales h3 {
    font-size: 30px;
    letter-spacing: 7px;
    margin-bottom: 50px;
  }

  .hot-sales-grid {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    row-gap: 40px;
  }

  .hot-sales-grid-item img {
    width: 250px;
  }

  .hot-sales-grid-item h5 {
    font-size: 18px;
    letter-spacing: 3px;
    margin-top: 25px;
  }

  .hot-sales-grid-item p {
    font-size: 14px;
    margin-top: 20px;
    line-height: 30px;
  }

  .hot-sales-grid-item .precio {
    font-size: 25px;
  }

  /*===========================================*/
  /*WE ARE VINCENT*/
  /*===========================================*/
  .we-are-vincent {
    height: 1550px;
  }

  .we-are-vincent-grid {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
  }

  .we-are-vincent-grid-item-about h1 {
    margin-bottom: 35px;
    font-size: 35px;
    letter-spacing: 8px;
  }

  .we-are-vincent-grid-item-about h6 {
    word-wrap: break-word;
    font-size: 16px;
    letter-spacing: 3px;
    line-height: 30px;
  }

  .we-are-vincent-grid-item-about p:nth-child(4) {
    word-wrap: break-word;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 27px;
  }

  .we-are-vincent-grid-item-about p:nth-child(5) {
    word-wrap: break-word;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 27px;
  }

  .we-are-vincent-grid-item-testimonials .testimonio img {
    width: 45px;
    border-radius: 50%;
  }

  .we-are-vincent-grid-item-testimonials .testimonio p:nth-child(1) {
    font-size: 14px;
    line-height: 28px;
    text-align: justify;
    text-justify: inter-word;
  }

  .we-are-vincent-grid-item-testimonials .testimonio h5 {
    font-size: 15px;
    letter-spacing: 3px;
  }

  .we-are-vincent-grid-item-testimonials .testimonio p:nth-child(2) {
    font-size: 15px;
    color: rgb(18, 22, 24);
    letter-spacing: 0px;
  }

}